[submodule "thirdparty/whisper.cpp"]
	path = thirdparty/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp/
[submodule "thirdparty/windows/portaudio-binaries"]
	path = thirdparty/windows/portaudio-binaries
	url = https://github.com/spatialaudio/portaudio-binaries
[submodule "thirdparty/portaudio"]
	path = thirdparty/portaudio
	url = https://github.com/PortAudio/portaudio
